
.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}


.product-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.brand {
    font-weight: bold;
}


.price {
    color: green;
}


.description {
    margin-bottom: 10px;
}

.product-name {
    font-weight: bold;
    color: #333;
}


.like-button {
    background-color: red; 
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.comment-input {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
}

.comment-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.comments-container {
    margin-top: 10px;
}

hr {
    border: 1px solid #ccc;
    margin-top: 20px;
}
